html{
    background-image: linear-gradient(to bottom right, red, yellow);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container {
    display: flex;
    width: 750px;
    height: 750px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.row {
    display: flex;
    flex-grow: 1
}

.content{
    display: flex;
    flex-grow: 1;
}

.hoverContent {
    background-color: black;
}

.UserContent {
    display: flex;
    border-style: solid;
    border-color : black;
    flex-grow: 1;
}

.UserRow {
    display: flex;
    flex-grow: 1
}

#btn {
    height: 100px;
    width: 200px;
    font-size: x-large;
    border-radius: 10px;
    background-color: silver;
}

#ButtonDiv {
    padding-bottom:25px;
}
